.user-profile {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 5fr;
}

.user-profile .user-img {
    margin-top: 10px;
}

.user-profile .user-img img {
    width: 100%;
    border-radius: 50%;
}

.user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-details h3,
small {
    margin: 0;
}

.location-icon {
    margin-right: 5px;
}

.bio-container {
    margin: 10px 0;
    border-radius: 10px;
    background-color: aliceblue;
    padding: 0 5px;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 768px) {
    .user-profile {
        display: block;
    }

    .user-profile .user-img {
        text-align: center;
    }

    .user-profile .user-img img {
        width: 100px;
        height: auto;
        border-radius: 50%;
    }

    .user-details {
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
        align-items: center;

    }
}