.exercise-item {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    box-shadow: -7px 9px 49px 0px rgba(0, 0, 0, 0.15);
}

.exercise-item .exercise-info {
    margin-bottom: 50px;
}

.exercise-item .exercise-info span {
    font-weight: bold;
}

.exercise-item .exercise-info img {
    width: 100%;
    border-radius: 5px;
}

.exercise-item button {
    position: absolute;
    background-color: #41436A;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
}

.exercise-item button:hover {
    cursor: pointer;
    background-color: #2e2f46;
}