.aside-container {
    padding: 15px;
    background-color: #FFFFFF;
    height: 100vh;
    width: 23%;
    position: fixed;
    top: 0;
    right: 0;
}

.toast-btn {
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color: #41436A;
}

.toast-btn:hover {
    background-color: #2E2F46;
}