.btn {
    background-color: #F2F4FA;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-weight: bold;
}

.btn:hover {
    background-color: #41436A;
    color: white;
}